
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Would you like a?</h1><br/>
        <button name="newGameButton" onclick="location.href='@Url.Action("MakeNewGame")'">New Game</button><br/>
        <h1>Or to?</h1><br/>        
        <button name="joinGameButton" onclick="location.href='@Url.Action("JoinGame")'">Join Game</button>
    </div>
</body>
</html>