@using ClientApp.Models
@model GameIdModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JoinGame</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <h1>Please select a game to join</h1>
            @Html.DropDownListFor(m => m.gameId, Model.GameChoices)
            <input type="submit" value="Join Game" />
        }
    </div>
</body>
</html>
