@using ClientApp.Models
@model PlayerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>makeNewGame</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p1>Please select a color</p1>
            @Html.DropDownListFor(m => m.Color, Model.ColorChoice)
            <input type="submit" value="Build Game" />
        }
    </div>
</body>
</html>
