
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>newGame</title>
</head>
<body>
    <div> 
        <p1>Thanks for picking a new game</p1><br/>
        <p2>You are player @ViewBag.playerId</p2><br/>
        <p2>@ViewBag.json</p2><br/>
        <p2>Waiting for opponent</p2>
    </div>
</body>
</html>
