@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlayGame</title>
</head>
<body>
    <div> 
        <canvas id="gameBoard" width="480" height="480"></canvas>
    </div>
    <script src="~/Scripts/GameBoard.js"></script>
</body>
</html>